@import "../../../styles/colors";

.carousel {
  grid-row: 2 / 3;
  grid-column: 2 / 6;

  // Screen width specific
  @media screen and (max-width: 600px) {
    height: 20rem;
    width: 100%;

    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    height: 40vw;
    width: 100%;
  }

  @media screen and (min-width: 900px) {
    height: 36rem;
    width: 100%;
  }
}