@import "../../../styles/colors";
@import "../../../styles/fonts";
@import "../../../styles/mixins";
@import "../../../styles/buttons";

.simpleCard {
  // FUNCTIONALITY
  perspective: 150rem;
  height: 50rem;
  width: 30rem;

  color: $color-red700;
  font-family: $font-display;
  font-weight: 500;

  position: relative;

  &Back {
      // Defines the style of back cards
    @include centerElement();

    height: 100%;
    width: 100%;

    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

    backface-visibility: hidden;
    overflow: hidden;

    transition: all 0.4s ease;
    
    display: grid;
    grid-template-rows: 1fr 4fr;
    align-items: center;
    justify-items: center;

    transform: translate(-50%, -50%) rotateY(0deg);
    border: 2px solid $color-red700;
  }

  &BackDescription {
    align-self: baseline;
    text-align: center;

    height: 50rem;
    width: 100%;
    color: $color-red700;

    /* background-image: linear-gradient( */
    /*   to right bottom, */
    /*   $color-red400, */
    /*   $color-red900 */
    /* ); */

    background-color: $color-cream;

    .backName {
      font-size: 2rem;
      font-weight: 700;
    }

    .longSpecs {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: center;
      padding: 0.2rem 1rem;
    }

    .backPriceBig {
      font-size: 2.1rem;
      font-weight: 700;
    }

    .backPriceInstallments {
      
    }
  }

  .imgSmall {
    height: 10rem;
    // width: 100%;
    padding: 1rem;

    justify-self: center;
  }

  .buyBtns {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}