{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": 0,
    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "function-paren-newline": ["error", "consistent"],
    "quotes": ["error", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
      }],
    "eqeqeq": ["error", "always"],
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-boolean-value": "error",
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-tag-spacing": ["error", { "beforeSelfClosing": "always" }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
