/** 
 The following values are based on material UI color palette
**/

// Basic colors
$color-white: #fff;
$color-black: #000;
$color-grey200: #eee;
$color-cream: #f5f1e1;

/* // Red hues */
/* $color-red50: #ffebee; */
/* $color-red100: #ffcdd2; */
/* $color-red200: #ef9a9a; */
/* $color-red300: #e57373; */
/* $color-red400: #ef5350; */
/* $color-red500: #f44336; */
/* $color-red600: #e53935; */
/* $color-red700: #d32f2f; */
/* $color-red800: #c62828; */
/* $color-red900: #b71c1c; */

// Test red hues
/* $color-red50: #e8eaf6; */
/* $color-red100: #c5cae9; */
/* $color-red200: #9fa8da; */
/* $color-red300: #7986cb; */
/* $color-red400: #5c6bc0; */
/* $color-red500: #3f51b5; */
/* $color-red600: #3949ab; */
/* $color-red700: #303f9f; */
/* $color-red800: #283593; */
/* $color-red900: #1a237e; */

$color-red50: #e0f2f1;
$color-red100: #b2dfdb;
$color-red200: #80cbc4;
$color-red300: #4db6ac;
$color-red400: #26a69a;
$color-red500: #009688;
$color-red600: #00897b;
$color-red700: #00796b;
$color-red800: #00695c;
$color-red900: #004d40;

// Purple
$color-purple50: #f3e5f5;
$color-purple100: #e1bee7;
$color-purple200: #ce93d8;
$color-purple300: #ba68c8;
$color-purple400: #ab47bc;
$color-purple500: #9c27b0;
$color-purple600: #8e24aa;
$color-purple700: #7b1fa2;
$color-purple800: #6a1b9a;
$color-purple900: #4a148c;

// Grey
$color-grey50: #fafafa;
$color-grey100: #f5f5f5;
$color-grey200: #eeeeee;
$color-grey300: #e0e0e0;
$color-grey400: #bdbdbd;
$color-grey500: #9e9e9e;
$color-grey600: #757575;
$color-grey700: #616161;
$color-grey800: #424242;
$color-grey900: #212121;

// Deep orange
$color-deeporange50: #fbe9e7;
$color-deeporange100: #ffccbc;
$color-deeporange200: #ffab91;
$color-deeporange300: #ff8a65;
$color-deeporange400: #ff7043;
$color-deeporange500: #ff5722;
$color-deeporange600: #f4511e;
$color-deeporange700: #e64a19;
$color-deeporange800: #d84315;
$color-deeporange900: #bf360c;