.cardForm {
  .expiryMonth {
    display: inline-block;
    float: left;
    margin-right: 1rem;

    .form-control {
      padding: 2px;
      text-align: center;
      width: 6rem;
    }
  }

  .expiryYear {
    display: inline-block;

    .form-control {
      text-align: center;
      padding: 2px;
      width: 6rem;
    }
  }

  .CVV {
    display: inline-block;
    float: right;

    .form-control {
      padding: 2px;
      text-align: center;
      width: 6rem;
    }
  }
}