@import "../../../styles/colors";
@import "../../../styles/mixins";
@import "../../../styles/baseGrid";
@import "../../../styles/fonts";

.signatureInfos {
  //Set the inner grid.
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, 1fr));
  grid-template-rows: repeat(6, min-content);
  align-items: center;
  padding: 1.3rem;
  color: black;
  background: $color-cream;
  border-radius: 1rem;
  border:solid;
  border-color: $color-red800;

  @media screen and (min-width: 700px) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }
  
  @media screen and (max-width: 700px) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .signatureListTitle {
    grid-column: 1 / 6;
    text-align: center;
    border-bottom: solid $color-red800;
  }

  .rowModal {
    display: grid;
    grid-column: 1 / 6;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    :hover {
      cursor: pointer;
    }
  }
  

  .plan {
    grid-column: 1 / 3;
    text-align: center;
  }
  
  .startDate {
    grid-column: 3 / 4;
    text-align: center;
  }
  
  .endDate {
    grid-column: 4 / 5;
    text-align: center;
  }
  .amount {
    grid-column: 5 / 6;
    text-align: center;
  }
  //modal
  //modal
  //modal
}
//modal

.modalCover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 1040;
  display: none;
}
.modalCoverActive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 1040;
  display: block;
}

.modalContainer {
  z-index: 1050;
  position: fixed;
  border: 1px solid lightgray;
  border-radius: 6px;
  background: white;
  width: 80%;
  min-height: 100px;
  left: 50%;
  top: 20%;
  margin-left: -300px;
  display: none;
}

.modalGrid {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
}

.modalHeader {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
}

.modalPlanName {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  text-align: center;
  font-weight: 800;
  border: 2px solid $color-cream;
}

.modalPlanData {
  p {
    font-size: 10px;
    font-weight: 300;
  }
  span {
    font-size: 12px;
    font-weight:800;
  }
  text-align: center;
  border: 2px solid $color-cream;
}

.modalDiscountsDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content);
  text-align: center;
  border: 2px solid $color-cream;
}

.modalItensDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content);
  text-align: center;
  border: 2px solid $color-cream;
}

.modalDiscountsTitle {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}
.modalDiscountsFormTrue {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
}
.modalDiscountsFormFalse {
  display: none;
}
.modalDiscountsTextTrue {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}
.modalDiscountsTextFalse {
  display: none;
}
.modalItensTextTrue {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}
.modalItensTextFalse {
  display: none;
}
.modalItensFormTrue {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
}
.modalItensFormFalse {
  display: none;
}
.modalInput40 {
  margin-right: 0px;
  width: 40%;
  color: black;
}
.modalInput80 {
  width: 80%;
  color: black;
}
.modalSelectInput {
  width: 40%;
  color: black;
  font-size: 12px;
}
.modalItensTitle {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.modalBtn1 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.modalFormItensBtn {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.modalFormDiscountsBtn {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.modalMetadata {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  text-align: center;
  border: 2px solid $color-cream;
}

.modalContainerActive {
  z-index: 1050;
  position: fixed;
  border: 3px solid $color-cream;
  border-radius: 2rem;
  width: 72%;
  min-height: 200px;
  top: 20%;
  align-self: center;
  display: block;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba($color-black, 0.3);
  background-image: linear-gradient(to right bottom, $color-red400, $color-red900);
  color: $color-cream; 
}
.discountRow {
  font-size: 12px;
  display:grid;
  grid-template-columns: 5fr 6fr 5fr;
}
.itemRow {
  font-size: 12px;
  display:grid;
  grid-template-columns: 7fr 6fr 5fr;
}
.btn {
  color: $color-red700;
  font-family: $font-display;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .5rem;
  border: 1px solid $color-red700;
  border-radius: 1rem;
  box-shadow: 0 1px 1px rgba($color-black, 0.3);
  transition: all .1s;

  width: 80%;

  &:active {
    transform: translateY(1px);
  }
}
