@import "../../styles/baseGrid";
@import "../../styles/buttons";

.searchAndButton {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column: 2 / 6;
  grid-row: 2 / 3;    

  .searchForm {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .searchInput{
    color: black;
    width: 100%;
    height: 100%;
  }
  .searchIconDiv {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    margin-left: 45%;
    margin-top: 5%;
    .searchIcon {
      color: $color-red700;
    }
} 
.btn {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
    
}
