@import "../../styles/colors";

.carousel {
  grid-row: 2 / 3;
  grid-column: 2 / 6;

  height: 100%;
  width: 100%;
  color: $color-red700;
  position: relative;

  &Indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    li {
      &:nth-of-type(n + 2) {
	margin-left: 9px;
      }
    }
  }  
  
  & > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &Left {
    left: 32px;
  }

  &Right {
    right: 32px;
  }
}