.footer {
  display: grid;
  align-items: center;
  justify-items: center;

  font-size: 1.4rem;
  font-weight: 400;

  background-image: linear-gradient(to right bottom, $color-red400, $color-red900);
  grid-area: footer;
  grid-row: 4 / 5;
  grid-column: 1 / 7;

  // Screen width specific
  @media screen and (max-width: 600px) {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-areas: "footerStoneInfo"
                         "footerMundiInfo"
                         "footerPagarmeInfo";
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "footerStoneInfo footerMundiInfo"
                         "footerPagarmeInfo .";
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr repeat(3, 33.333rem) 1fr;
    grid-template-areas: ". footerStoneInfo footerMundiInfo footerPagarmeInfo .";
  }

  &StoneInfo {
    display: grid;
    grid-area: footerStoneInfo;
    grid-template-rows: repeat(4, min-content);

    padding: 2rem;
  }

  .footerDocs > a:link {
    text-decoration: none;
    color: $color-white;
  }

  .footerDocs > a:visited {
    text-decoration: none;
    color: $color-red100;
  }

  &MundiInfo {
    display: grid;
    grid-area: footerMundiInfo;
    grid-template-rows: repeat(4, min-content);

    padding: 2rem;
  }

  &PagarmeInfo {
    display: grid;
    grid-area: footerPagarmeInfo;
    grid-template-rows: repeat(4, min-content);

    padding: 2rem;
  }

  & img {
    padding-bottom: 2.2rem;
    width: 12rem;
  }
}