@import "../../../styles/colors";
@import "../../../styles/fonts";
@import "../../../styles/mixins";

.productCard {
  // FUNCTIONALITY
  perspective: 150rem;
  height: 50rem;
  width: 30rem;

  font-family: $font-display;
  font-weight: 500;

  position: relative;

  &Side {
    @include centerElement();

    height: 90%;
    width: 100%;

    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

    backface-visibility: hidden;
    overflow: hidden;

    transition: all 0.6s ease;

    // Separates styles of front and back of the cards
    &Front {
      display: grid;
      grid-template-rows: 4fr 1fr;
      align-items: center;
      justify-items: center;

      border: 2px solid $color-red700;
    }

    &Back {
      display: grid;
      grid-template-rows: 1fr 4fr;
      align-items: center;
      justify-items: center;

      transform: translate(-50%, -50%) rotateY(180deg);
      border: 2px solid $color-red700;
    }
  }

  &:hover &SideFront {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }

  &:hover &SideBack {
    // @include centerElement();

    transform: translate(-50%, -50%) rotateY(0);
  }

  .productFrontDescription {
    align-self: center;
    text-align: center;

    height: 15rem;
    width: 100%;
    padding: 1rem;

    background-image: linear-gradient(
      to right bottom,
      $color-red400,
      $color-red900
    );

    .productName {
      font-size: 1.7rem;
      font-weight: 700;
    }

    .productShortSpecs {
      font-size: 1.2rem;
      font-weight: 300;
    }

    .productPriceBig {
      font-size: 2.1rem;
      font-weight: 700;
      color: $color-cream;
    }
  }

  .productBackDescription {
    align-self: baseline;
    text-align: center;

    height: 50rem;
    width: 100%;
    color: $color-cream;

    background-image: linear-gradient(
      to right bottom,
      $color-red400,
      $color-red900
    );

    .productName {
      font-size: 2rem;
      font-weight: 700;
    }

    .productLongSpecs {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: center;
      padding: 0.2rem 1rem;
    }

    .productPriceBig {
      @include textShadowSlight();
      font-size: 2.1rem;
      font-weight: 700;
      color: $color-cream;
    }

    .productPriceInstallments {
      @include textShadowSlight();
      color: $color-cream;
    }
  }

  .productImgSmall {
    height: 10rem;
    // width: 100%;
    padding: 1rem;

    justify-self: center;
  }

  .buyBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}