/** 
 The following values are based on material UI color palette
**/
/* // Red hues */
/* $color-red50: #ffebee; */
/* $color-red100: #ffcdd2; */
/* $color-red200: #ef9a9a; */
/* $color-red300: #e57373; */
/* $color-red400: #ef5350; */
/* $color-red500: #f44336; */
/* $color-red600: #e53935; */
/* $color-red700: #d32f2f; */
/* $color-red800: #c62828; */
/* $color-red900: #b71c1c; */
/* $color-red50: #e8eaf6; */
/* $color-red100: #c5cae9; */
/* $color-red200: #9fa8da; */
/* $color-red300: #7986cb; */
/* $color-red400: #5c6bc0; */
/* $color-red500: #3f51b5; */
/* $color-red600: #3949ab; */
/* $color-red700: #303f9f; */
/* $color-red800: #283593; */
/* $color-red900: #1a237e; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Questrial", sans-serif;
  font-weight: 700;
  color: #f5f1e1;
  background-color: #f5f1e1;
  font-size: 1.5rem;
  line-height: 1.6; }

.generalContainer {
  display: grid;
  grid-row-gap: 2rem;
  height: 100vh;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .generalContainer {
      grid-template-rows: repeat(3, min-content) minmax(min-content, 1fr);
      grid-template-columns: 1fr repeat(4, minmax(min-content, 25rem)) 1fr; } }
  @media screen and (max-width: 600px) {
    .generalContainer {
      grid-template-rows: repeat(4, min-content);
      grid-template-columns: 1fr; } }

.btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 2rem .2rem;
  padding: .6rem;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all .1s; }
  .btn:hover {
    background-image: linear-gradient(to right bottom, #eeeeee, #f5f1e1);
    color: #00796b;
    border: 1px solid #00796b; }
  .btn:active {
    transform: translateY(1px); }

.btnRed {
  color: #fff;
  background-color: #00796b; }

.header {
  background-image: linear-gradient(to right bottom, #26a69a, #004d40);
  grid-area: header;
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 0.1rem 0.2rem #000; }
  .header_logoArea {
    grid-area: header_logo;
    height: inherit;
    position: relative; }
  .header_logoImg {
    position: absolute;
    height: 67%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header_searchBar {
    grid-area: header_searchBar;
    align-self: center;
    border-radius: 0.5rem; }
  .header_searchForm {
    width: 100%;
    height: 100%;
    position: relative; }
  .header_searchInput {
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    transition: all 0.1s; }
    .header_searchInput:focus {
      border: 3px solid #4a148c; }
  .header_searchIcon {
    color: #00796b;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%); }
  .header_accountAndCart {
    display: grid;
    grid-area: header_accountAndCart;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header_customerAccount header_customerAccount header_shoppingCart";
    align-items: center;
    font-size: inherit; }
  .header_customerAccount {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header_customerIcon header_customerText header_customerText";
    align-items: center;
    justify-items: center;
    grid-area: header_customerAccount;
    height: 8.5rem; }
  .header_customerIcon {
    grid-area: header_customerIcon;
    justify-self: end; }
  .header_customerText {
    grid-area: header_customerText; }
    .header_customerText > a:link {
      color: #fff;
      text-decoration: none; }
    .header_customerText > a:visited {
      color: #fff;
      text-decoration: none; }
  .header_shoppingCart {
    justify-self: center;
    grid-area: header_shoppingCart; }
    .header_shoppingCart > a:link {
      color: #fff;
      text-decoration: none; }
    .header_shoppingCart > a:visited {
      color: #fff;
      text-decoration: none; }
  .header_container {
    display: grid;
    height: 100%;
    width: 100%; }
  @media screen and (min-width: 900px) {
    .header {
      height: 8.5rem; }
      .header_container {
        grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr;
        grid-template-areas: ". header_logo header_searchBar header_searchBar header_searchBar header_searchBar header_accountAndCart header_accountAndCart header_accountAndCart ."; }
      .header_logoImg {
        height: 67%; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .header {
      height: 8.5rem; }
      .header_container {
        grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr;
        grid-template-areas: ". header_logo header_searchBar header_searchBar header_searchBar header_searchBar header_accountAndCart header_accountAndCart header_accountAndCart ."; }
      .header_logoImg {
        height: 67%; }
      .header_accountAndCart {
        font-size: 1.3rem; }
      .header_customerText > h3 {
        display: none; } }
  @media screen and (max-width: 600px) {
    .header {
      height: 5rem; }
      .header_container {
        grid-template-columns: minmax(6rem, min-content) 1fr;
        grid-template-areas: "header_logo header_searchBar"; }
      .header_searchInput {
        width: 100%;
        height: 5rem; }
      .header_searchIcon {
        width: 90%;
        right: 5%; }
      .header_accountAndCart {
        display: none; } }

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #26a69a, #004d40);
  grid-area: footer;
  grid-row: 4 / 5;
  grid-column: 1 / 7; }
  @media screen and (max-width: 600px) {
    .footer {
      grid-template-columns: minmax(min-content, 1fr);
      grid-template-areas: "footerStoneInfo" "footerMundiInfo" "footerPagarmeInfo"; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "footerStoneInfo footerMundiInfo" "footerPagarmeInfo ."; } }
  @media screen and (min-width: 900px) {
    .footer {
      grid-template-columns: 1fr repeat(3, 33.333rem) 1fr;
      grid-template-areas: ". footerStoneInfo footerMundiInfo footerPagarmeInfo ."; } }
  .footerStoneInfo {
    display: grid;
    grid-area: footerStoneInfo;
    grid-template-rows: repeat(4, min-content);
    padding: 2rem; }
  .footer .footerDocs > a:link {
    text-decoration: none;
    color: #fff; }
  .footer .footerDocs > a:visited {
    text-decoration: none;
    color: #b2dfdb; }
  .footerMundiInfo {
    display: grid;
    grid-area: footerMundiInfo;
    grid-template-rows: repeat(4, min-content);
    padding: 2rem; }
  .footerPagarmeInfo {
    display: grid;
    grid-area: footerPagarmeInfo;
    grid-template-rows: repeat(4, min-content);
    padding: 2rem; }
  .footer img {
    padding-bottom: 2.2rem;
    width: 12rem; }

.productArea {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: productArea;
  grid-row: 3 / 4;
  grid-column: 2 / 6; }
  @media (max-width: 700px) {
    .productArea {
      grid-template-columns: minmax(min-content, 1fr);
      grid-template-rows: auto; } }
  @media (min-width: 700px) and (max-width: 900px) {
    .productArea {
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-template-rows: auto; } }
  @media (min-width: 900px) {
    .productArea {
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
      grid-template-rows: auto; } }

.productCard {
  perspective: 150rem;
  height: 50rem;
  width: 30rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  position: relative; }
  .productCardSide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.6s ease; }
    .productCardSideFront {
      display: grid;
      grid-template-rows: 4fr 1fr;
      align-items: center;
      justify-items: center;
      border: 2px solid #00796b; }
    .productCardSideBack {
      display: grid;
      grid-template-rows: 1fr 4fr;
      align-items: center;
      justify-items: center;
      transform: translate(-50%, -50%) rotateY(180deg);
      border: 2px solid #00796b; }
  .productCard:hover .productCardSideFront {
    transform: translate(-50%, -50%) rotateY(-180deg); }
  .productCard:hover .productCardSideBack {
    transform: translate(-50%, -50%) rotateY(0); }
  .productCard .productFrontDescription {
    align-self: center;
    text-align: center;
    height: 15rem;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(to right bottom, #26a69a, #004d40); }
    .productCard .productFrontDescription .productName {
      font-size: 1.7rem;
      font-weight: 700; }
    .productCard .productFrontDescription .productShortSpecs {
      font-size: 1.2rem;
      font-weight: 300; }
    .productCard .productFrontDescription .productPriceBig {
      font-size: 2.1rem;
      font-weight: 700;
      color: #f5f1e1; }
  .productCard .productBackDescription {
    align-self: baseline;
    text-align: center;
    height: 50rem;
    width: 100%;
    color: #f5f1e1;
    background-image: linear-gradient(to right bottom, #26a69a, #004d40); }
    .productCard .productBackDescription .productName {
      font-size: 2rem;
      font-weight: 700; }
    .productCard .productBackDescription .productLongSpecs {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: center;
      padding: 0.2rem 1rem; }
    .productCard .productBackDescription .productPriceBig {
      color: #fff;
      text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
      font-size: 2.1rem;
      font-weight: 700;
      color: #f5f1e1; }
    .productCard .productBackDescription .productPriceInstallments {
      color: #fff;
      text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
      color: #f5f1e1; }
  .productCard .productImgSmall {
    height: 10rem;
    padding: 1rem;
    justify-self: center; }
  .productCard .buyBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

.carrousel {
  grid-area: carrousel;
  grid-row: 2 / 3;
  grid-column: 2 / 6; }
  @media screen and (max-width: 600px) {
    .carrousel {
      height: 20rem;
      width: 100%; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .carrousel {
      height: 40vw;
      width: 100%; } }
  @media screen and (min-width: 899px) {
    .carrousel {
      height: 36rem;
      width: 100%; } }

.bolitas {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center; }

.bolita {
  background-color: rgba(255, 255, 255, 0.4);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid transparent;
  margin: 0 10px; }

.bolita.activa {
  border-color: #4a148c; }

.carrousel {
  overflow: hidden;
  position: relative; }

.carrousel,
.carrousel img {
  height: 60rem;
  width: 100%; }

.carrousel-images {
  display: flex;
  transition: all 0.6s; }

img {
  object-fit: cover; }

.carrousel button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto;
  height: 30px; }

.carrousel button.prev {
  left: 30px; }

.carrousel button.next {
  right: 30px; }

.cartProducts {
  grid-area: cartProducts;
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(auto-fill, minmax(min-content, 1fr));
  grid-row-gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500; }
  .cartProducts > div:nth-of-type(even) {
    background-image: linear-gradient(to right bottom, #eeeeee, #f5f1e1);
    border: 2px solid #004d40;
    color: #00796b; }
  .cartProducts > div:nth-of-type(odd) {
    background-image: linear-gradient(to right bottom, #26a69a, #004d40); }
  @media screen and (max-width: 600px) {
    .cartProducts {
      font-size: 1.1rem; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .cartProducts {
      font-size: 1.3rem; } }
  .cartProductsHeader {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    @media screen and (min-width: 600px) {
      .cartProductsHeader {
        grid-template-columns: minmax(min-content, 3fr) repeat(3, minmax(min-content, 1fr));
        grid-template-rows: min-content;
        grid-template-areas: "productNameLabel productQuantityLabel unitaryCostLabel aggregateCostLabel"; } }
    @media screen and (max-width: 600px) {
      .cartProductsHeader {
        grid-template-columns: minmax(min-content, 3fr) repeat(2, minmax(min-content, 1fr));
        grid-template-rows: min-content;
        grid-template-areas: "productNameLabel productQuantityLabel aggregateCostLabel"; }
        .cartProductsHeader > .unitaryCostLabel {
          display: none; } }
    .cartProductsHeader > .productNameLabel {
      grid-area: productNameLabel;
      justify-self: baseline; }
    .cartProductsHeader > .productQuantityLabel {
      grid-area: productQuantityLabel; }
    .cartProductsHeader > .unitaryCostLabel {
      grid-area: unitaryCostLabel; }
    .cartProductsHeader > .aggregateCostLabel {
      grid-area: aggregateCostLabel; }
  .cartProductsProduct {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    @media screen and (min-width: 600px) {
      .cartProductsProduct {
        grid-template-columns: minmax(min-content, 3fr) repeat(3, minmax(min-content, 1fr));
        grid-template-areas: "productInfo productQuantity productUnitaryCost productAggregateCost"; } }
    @media screen and (max-width: 600px) {
      .cartProductsProduct {
        grid-template-columns: minmax(min-content, 3fr) repeat(2, minmax(min-content, 1fr));
        grid-template-areas: "productInfo productQuantity productAggregateCost"; }
        .cartProductsProduct > .productUnitaryCost {
          display: none; } }
    .cartProductsProduct .productInfo {
      display: grid;
      grid-area: productInfo;
      grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 4fr);
      grid-column-gap: 2rem;
      justify-self: baseline; }
      .cartProductsProduct .productInfo .productImg img {
        height: 8vw;
        width: 100%; }
      .cartProductsProduct .productInfo .productDescription {
        align-self: center; }
    .cartProductsProduct .productQuantity {
      grid-area: productQuantity; }
    .cartProductsProduct .productQuantity > select {
      color: #00796b; }
    .cartProductsProduct .productUnitaryCost {
      grid-area: productUnitaryCost; }
    .cartProductsProduct .productAggregateCost {
      grid-area: productAggregateCost; }

.purchaseSummary {
  grid-area: purchaseSummary;
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  display: grid;
  align-items: center;
  justify-items: center; }
  @media screen and (max-width: 600px) {
    .purchaseSummary {
      font-size: 1.1rem; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .purchaseSummary {
      font-size: 1.3rem; } }
  .purchaseSummaryActions {
    display: grid;
    justify-items: center;
    align-items: center; }
    @media screen and (min-width: 800px) {
      .purchaseSummaryActions {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 800px) {
      .purchaseSummaryActions {
        grid-template-rows: repeat(2, minmax(min-content, 1fr)); } }
  .purchaseSummaryDetails {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to right bottom, #eeeeee, #f5f1e1);
    color: #00796b;
    border: 2px solid #00796b;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem; }
    .purchaseSummaryDetails .productCostDetail {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-gap: 2rem;
      justify-items: baseline;
      align-items: center; }
      .purchaseSummaryDetails .productCostDetail .productCost {
        justify-self: end; }

.purchaseAndShippingSummary {
  grid-row: 2 / 3;
  grid-column: 2 / 6;
  display: grid;
  color: #f5f1e1;
  font-weight: 400;
  border-radius: 2rem;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #26a69a, #004d40);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%; }
  @media screen and (min-width: 700px) {
    .purchaseAndShippingSummary {
      grid-template-columns: repeat(2, minmax(min-content, 1fr)); } }
  @media screen and (max-width: 700px) {
    .purchaseAndShippingSummary {
      grid-template-rows: repeat(2, min-content);
      font-size: 1.3rem; } }
  @media screen and (max-width: 600px) {
    .purchaseAndShippingSummary {
      grid-row: 2 / 3;
      grid-column: 1 / 5; } }

.purchaseSummaryCheckout {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(6, min-content);
  align-items: center;
  padding: 1.3rem;
  width: 100%; }
  @media screen and (min-width: 700px) {
    .purchaseSummaryCheckout {
      grid-row: 1 / 2;
      grid-column: 1 / 2; } }
  @media screen and (max-width: 700px) {
    .purchaseSummaryCheckout {
      grid-row: 1 / 2;
      grid-column: 1 / 2; } }
  .purchaseSummaryCheckout .purchaseSummaryTitle {
    grid-row: 1 / 2;
    font-size: 1.8rem;
    font-weight: 700; }
  .purchaseSummaryCheckout .totalAmountLabel {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .purchaseSummaryCheckout .totalAmountValue {
    grid-column: 2 / 3;
    justify-self: end;
    grid-row: 2 / 3; }
  .purchaseSummaryCheckout .shippingCostLabel {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .purchaseSummaryCheckout .shippingCostValue {
    grid-column: 2 / 3;
    justify-self: end;
    grid-row: 3 / 4; }
  .purchaseSummaryCheckout .dividingLine {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    height: 0;
    width: 90%;
    margin: 3px 0;
    border-top: 1px solid #004d40; }
  .purchaseSummaryCheckout .totalWithShippingLabel {
    grid-column: 1 / 2;
    grid-row: 5 / 6; }
  .purchaseSummaryCheckout .totalWithShippingValue {
    grid-column: 2 / 3;
    justify-self: end;
    grid-row: 5 / 6; }
  .purchaseSummaryCheckout .discountedPriceLabel {
    grid-column: 1 / 2;
    grid-row: 6 / 7; }
  .purchaseSummaryCheckout .discountedPriceValue {
    grid-column: 2 / 3;
    justify-self: end;
    grid-row: 6 / 7; }

.shippingDetails {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  padding: 1.3rem;
  width: 100%; }
  @media screen and (min-width: 700px) {
    .shippingDetails {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      border-left: 1px dashed #004d40; } }
  @media screen and (max-width: 700px) {
    .shippingDetails {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      border-top: 1px dashed #004d40; } }
  .shippingDetails .shippingDetailsTitle {
    font-size: 1.8rem;
    font-weight: 700; }

.paymentDetailsTabs {
  grid-column: 2 / 6;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #00796b;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px solid #00796b;
  border-radius: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%; }
  @media screen and (max-width: 600px) {
    .paymentDetailsTabs {
      grid-row: 3 / 4;
      grid-column: 1 / 5; } }
  .paymentDetailsTabs .paymentMethodTabList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; }
    @media screen and (min-width: 800px) {
      .paymentDetailsTabs .paymentMethodTabList {
        width: 35%; } }
    @media screen and (max-width: 800px) {
      .paymentDetailsTabs .paymentMethodTabList {
        width: 50%; } }
    @media screen and (max-width: 600px) {
      .paymentDetailsTabs .paymentMethodTabList {
        width: 70%; } }
    .paymentDetailsTabs .paymentMethodTabList > li {
      color: #80cbc4;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      border-bottom: 3px solid transparent;
      transition: all .2s ease-in-out; }
    .paymentDetailsTabs .paymentMethodTabList > li[aria-selected=true] {
      color: #00796b;
      border-color: #00796b; }
  .paymentDetailsTabs .creditCardForm .paymentCard {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    padding: 1.5rem; }

.cardForm .expiryMonth {
  display: inline-block;
  float: left;
  margin-right: 1rem; }
  .cardForm .expiryMonth .form-control {
    padding: 2px;
    text-align: center;
    width: 6rem; }

.cardForm .expiryYear {
  display: inline-block; }
  .cardForm .expiryYear .form-control {
    text-align: center;
    padding: 2px;
    width: 6rem; }

.cardForm .CVV {
  display: inline-block;
  float: right; }
  .cardForm .CVV .form-control {
    padding: 2px;
    text-align: center;
    width: 6rem; }
